annotated-types==0.7.0
asciitree==0.3.3
certifi==2026.2.25
charset-normalizer==3.4.5
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
Deprecated==1.3.1
fasteners==0.20
filelock==3.20.0
fonttools==4.62.0
fsspec==2025.12.0
idna==3.11
iniconfig==2.3.0
isosplit6==0.1.4
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
llvmlite==0.46.0
MarkupSafe==3.0.2
matplotlib==3.10.8
-e git+https://github.com/juwaynilucman/mountainsort5.git@1560b9b7a42cf97694f73d69e8e8b13a58f461ab#egg=mountainsort5
mpmath==1.3.0
neo==0.14.4
networkx==3.6.1
numba==0.64.0
numcodecs==0.15.1
numpy==2.4.3
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pluggy==1.6.0
probeinterface==0.3.1
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
quantities==0.16.4
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
spikeinterface==0.103.2
sympy==1.14.0
threadpoolctl==3.6.0
# torch==2.7.1+cu118
# torchaudio==2.10.0+cu130
# torchvision==0.25.0+cu130
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wrapt==2.1.2
zarr==2.18.7
